doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    if user
      div(class="navbar-container")
        ul(class="navbar")
            li.navList
              a.navHref(href="/home") Home
            li.navList 
              a.navHref(href="/item/create") Create
            li.navList
              a.navHref(href="/series") Series
            li.navList
              a.navHref(href="/requests") Requests
            li.navList 
              a.navHref(href="/logout") Log out
    div.mainContent
      block content
