.itemCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* You can use other values like space-between or space-evenly based on your preference */
  }
  


.itemCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    max-width: 300px;
    flex: 0 1 calc(25% - 20px); /* Adjust the width as needed; 20px is the margin between cards */
    margin: 10px; /* Adjust the margin as needed */
    box-sizing: border-box;
  }
  
  .itemCard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .descriptionContainer {
    padding: 8px;
  }
  .itemImageContainer {
    height: 200px;
    overflow: hidden;
  }
  
  .itemImage {
    width: 100%;
    height: 100%;
    object-fit:contain;
  }
  
  .itemName {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .seriesListContainer {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .seriesListElement {
    font-size: 14px;
    margin-bottom: 4px;
  }
  
  /* Style for when there is no series */
  .descriptionContainer > :last-child {
    font-style: italic;
    color: #888;
    margin: 10px 0;
  }
  