.searchForm {
    display: flex; /* Use flexbox for layout */
    flex-direction: row;
    margin-bottom: 20px; /* Add some space below the form */
    margin-top: 10px;
    width: 40%;
    align-self: center;
  }
  
  .searchItemLabel {
    margin-right: 10px; /* Add space between label and input */
  }
  
  .searchItemInput {
    padding: 10px; /* Add padding to input */
    border: 1px solid #ccc; /* Add border */
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px; /* Add border radius */
  }
  
  .searchButton {
    padding: 10px 20px; /* Add padding */
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    border-radius: 0px 10px 10px 0; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */ 
    height: 50px;
    width: 50px;
  }
  
  .searchButton:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  .homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 

.headerPicture {
  display: block;
  width: 100%;
  height: 60vh;
  object-fit:fill;
}
.searchButton .searchSvg {
scale: 3;
}



@media (max-width: 768px) {
  .searchForm {
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    width: 90%;
  }

  .searchItemLabel {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .searchItemInput {
    border-radius: 10px;
    margin-bottom: 10px;
  
  }

  .searchButton {
    border-radius: 10px;
    width: 10%;

    padding: 15px;
  }
 
  .headerPicture {
    height: 40vh;
  }
}