.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-color: #f2f2f2; 
  font-family: Arial, sans-serif; 
}

.itemForSale {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 600px;
  margin: 20px;
}

.itemPictureContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sellItemImageContainer {
  flex: 0 0 40%; 
  margin-right: 20px;
}

.itemForSaleImage {
  width: 100%;
  border-radius: 8px;
}

.descriptionContainer {
  flex: 1;
}

.itemName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.seriesListContainer {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

.seriesListElement {
  font-size: 14px;
  margin-bottom: 5px;
}

.sellForm {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
}

.form-element {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"] {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[type="file"] {
  padding: 8px;
}

.sell-button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.sell-button:hover {
  background-color: #45a049;
}
